## Dependancies

In [1]:
import pandas as pd
from functools import reduce

## Import CSV Files

In [2]:
citi_bike_jan22 = pd.read_csv('original_datasets/JC-202201-citibike-tripdata.csv')
citi_bike_feb22 = pd.read_csv('original_datasets/JC-202202-citibike-tripdata.csv')
citi_bike_mar22 = pd.read_csv('original_datasets/JC-202203-citibike-tripdata.csv')
citi_bike_apr22 = pd.read_csv('original_datasets/JC-202204-citibike-tripdata.csv')
citi_bike_may22 = pd.read_csv('original_datasets/JC-202205-citibike-tripdata.csv')
citi_bike_jun22 = pd.read_csv('original_datasets/JC-202206-citibike-tripdata.csv')

## Data Exploration

- Preview Dataset Columns
- Preview Data Type

In [3]:
citi_bike_jan22.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [4]:
citi_bike_jan22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26762 entries, 0 to 26761
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             26762 non-null  object
 1   rideable_type       26762 non-null  object
 2   started_at          26762 non-null  object
 3   ended_at            26762 non-null  object
 4   start_station_name  26762 non-null  object
 5   start_station_id    26762 non-null  object
 6   end_station_name    26359 non-null  object
 7   end_station_id      26359 non-null  object
 8   start_lat           26762 non-null  float64
 9   start_lng           26762 non-null  float64
 10  end_lat             26583 non-null  float64
 11  end_lng             26583 non-null  float64
 12  member_casual       26762 non-null  object
dtypes: float64(4), object(9)
memory usage: 2.7+ MB

## Data Cleansing 

- Merge Tables 
- View Data Types
- Check Null Values
- Drop Null Values

In [5]:
citi_bike_data = [citi_bike_jan22, citi_bike_feb22, citi_bike_mar22, 
                  citi_bike_apr22, citi_bike_may22, citi_bike_jun22]

citi_bike_merge = reduce(lambda left,right: pd.merge(left, right, how="outer"), citi_bike_data)

In [6]:
citi_bike_merge.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [7]:
citi_bike_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356653 entries, 0 to 356652
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             356653 non-null  object
 1   rideable_type       356653 non-null  object
 2   started_at          356653 non-null  object
 3   ended_at            356653 non-null  object
 4   start_station_name  356653 non-null  object
 5   start_station_id    356653 non-null  object
 6   end_station_name    355422 non-null  object
 7   end_station_id      355422 non-null  object
 8   start_lat           356653 non-null  float64
 9   start_lng           356653 non-null  float64
 10  end_lat             355730 non-null  float64
 11  end_lng             355730 non-null  float64
 12  member_casual       356653 non-null  object
dtypes: float64(4), object(9)
memory usage: 38.1+ MB

In [8]:
citi_bike_merge.shape

(356653, 13)

In [9]:
citi_bike_merge.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name       0
start_station_id         0
end_station_name      1231
end_station_id        1231
start_lat                0
start_lng                0
end_lat                923
end_lng                923
member_casual            0
dtype: int64

In [10]:
citi_bike_merge.dropna(inplace=True)

In [11]:
citi_bike_merge.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [12]:
citi_bike_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 355422 entries, 0 to 356652
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             355422 non-null  object
 1   rideable_type       355422 non-null  object
 2   started_at          355422 non-null  object
 3   ended_at            355422 non-null  object
 4   start_station_name  355422 non-null  object
 5   start_station_id    355422 non-null  object
 6   end_station_name    355422 non-null  object
 7   end_station_id      355422 non-null  object
 8   start_lat           355422 non-null  float64
 9   start_lng           355422 non-null  float64
 10  end_lat             355422 non-null  float64
 11  end_lng             355422 non-null  float64
 12  member_casual       355422 non-null  object
dtypes: float64(4), object(9)
memory usage: 38.0+ MB

## Save Clean Data Set

In [13]:
citi_bike_clean = citi_bike_merge

In [14]:
citi_bike_clean.to_csv('citi_bike_data.csv')